Dark Sky API: 4ff1d8e73db78778122dfacfabf261f2

In [1]:
from darksky import forecast
from datetime import datetime as dt
from datetime import date, timedelta
import pandas as pd

Using Time Machine Call, we can get the observed weather conditions for a date in the past or future.

In [2]:
key = "4ff1d8e73db78778122dfacfabf261f2"
Livemore = key, 37.681, -121.775

In [24]:
t = dt(2018, 1, 17, 12).isoformat()
live = forecast(*Livemore, t)
mydata = pd.DataFrame(live['hourly']['data'])
mydata['LAT'] = 37.681
mydata['LON'] = -121.775
mydata['YEAR'] = 2018
mydata['MONTH'] = 1
mydata['DAY'] = 17
mydata['HOUR'] = [i for i in range(24)]

In [25]:
for i in range(18, 32):  
    t = dt(2018, 1, i, 12).isoformat()
    live = forecast(*Livemore, t)
    tempdata = pd.DataFrame(live['hourly']['data'])
    tempdata['LAT'] = 37.681
    tempdata['LON'] = -121.775
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 1
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)
    
Jan_winds = mydata

Save it as csv

In [26]:
Jan_winds.to_csv("Jan_winds.csv", sep=',')

In [27]:
Jan_winds.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,17,0,37.681,-121.775,1,2018,52.57,0.02,51.01,0.94,...,0.0,0.0,NaN,1023.75,Clear,52.57,1516176000,6.61,79,0.42
1,17,1,37.681,-121.775,1,2018,51.65,0.02,50.40,0.95,...,0.0,0.0,NaN,1023.27,Clear,51.65,1516179600,5.52,334,2.55
2,17,2,37.681,-121.775,1,2018,51.51,0.02,50.21,0.95,...,0.0,0.0,NaN,1023.43,Clear,51.51,1516183200,5.40,20,2.37
3,17,3,37.681,-121.775,1,2018,49.80,0.05,49.18,0.98,...,0.0,0.0,NaN,1023.60,Clear,49.80,1516186800,2.82,68,2.24
4,17,4,37.681,-121.775,1,2018,50.08,0.31,49.47,0.98,...,0.0,0.0,NaN,1023.65,Partly Cloudy,50.08,1516190400,3.04,117,2.21

In [11]:
t = dt(2018, 2, 9, 12).isoformat()
live = forecast(*Livemore, t)
mydata = pd.DataFrame(live['hourly']['data'])
mydata['LAT'] = 37.681
mydata['LON'] = -121.775
mydata['YEAR'] = 2018
mydata['MONTH'] = 2
mydata['DAY'] = 9
mydata['HOUR'] = [i for i in range(24)]

In [14]:
for i in range(10, 24):  
    t = dt(2018, 2, i, 12).isoformat()
    live = forecast(*Livemore, t)
    tempdata = pd.DataFrame(live['hourly']['data'])
    tempdata['LAT'] = 37.681
    tempdata['LON'] = -121.775
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 2
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)
    
Feb_winds = mydata

In [15]:

Feb_winds.to_csv("Feb_winds.csv", sep=',')
Feb_winds.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,9,0,37.681,-121.775,2,2018,52.20,0.02,43.04,0.71,...,0.0,0.0,NaN,1019.82,Clear,52.20,1518163200,8.65,90,2.07
1,9,1,37.681,-121.775,2,2018,51.41,0.00,42.95,0.73,...,0.0,0.0,NaN,1019.42,Clear,51.41,1518166800,9.32,97,0.53
2,9,2,37.681,-121.775,2,2018,49.52,0.00,42.52,0.77,...,0.0,0.0,NaN,1019.18,Clear,49.52,1518170400,9.32,79,1.88
3,9,3,37.681,-121.775,2,2018,49.34,0.00,42.66,0.78,...,0.0,0.0,NaN,1019.01,Clear,49.34,1518174000,9.32,114,0.71
4,9,4,37.681,-121.775,2,2018,48.01,0.00,41.40,0.78,...,0.0,0.0,NaN,1018.72,Clear,48.01,1518177600,9.32,72,1.63

In [21]:

t = dt(2018, 3, 12, 12).isoformat()
live = forecast(*Livemore, t)
mydata = pd.DataFrame(live['hourly']['data'])
mydata['LAT'] = 37.681
mydata['LON'] = -121.775
mydata['YEAR'] = 2018
mydata['MONTH'] = 3
mydata['DAY'] = 12
mydata['HOUR'] = [i for i in range(24)]
    
for i in range(13, 27):  
    t = dt(2018, 3, i, 12).isoformat()
    live = forecast(*Livemore, t)
    tempdata = pd.DataFrame(live['hourly']['data'])
    tempdata['LAT'] = 37.681
    tempdata['LON'] = -121.775
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 3
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)

Mar_winds = mydata    
Mar_winds.to_csv("Mar_winds.csv", sep=',')
Mar_winds.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,12,0,37.681,-121.775,3,2018,54.55,0.29,48.85,0.81,...,0.0,0.0,NaN,1018.97,Partly Cloudy,54.55,1520838000,9.86,35,1.49
1,12,1,37.681,-121.775,3,2018,52.59,0.04,49.10,0.88,...,0.0,0.0,NaN,1018.77,Clear,52.59,1520841600,9.81,73,2.26
2,12,2,37.681,-121.775,3,2018,52.09,0.02,48.97,0.89,...,0.0,0.0,NaN,1018.97,Clear,52.09,1520845200,9.86,299,0.97
3,12,3,37.681,-121.775,3,2018,51.77,0.00,48.22,0.88,...,0.0,0.0,NaN,1018.78,Clear,51.77,1520848800,9.86,53,1.41
4,12,4,37.681,-121.775,3,2018,50.53,0.15,48.49,0.93,...,0.0,0.0,NaN,1017.97,Clear,50.53,1520852400,9.32,86,1.97

In [18]:
t = dt(2018, 4, 9, 12).isoformat()
live = forecast(*Livemore, t)
mydata = pd.DataFrame(live['hourly']['data'])
mydata['LAT'] = 37.681
mydata['LON'] = -121.775
mydata['YEAR'] = 2018
mydata['MONTH'] = 4
mydata['DAY'] = 9
mydata['HOUR'] = [i for i in range(24)]
    
for i in range(10, 24):  
    t = dt(2018, 4, i, 12).isoformat()
    live = forecast(*Livemore, t)
    tempdata = pd.DataFrame(live['hourly']['data'])
    tempdata['LAT'] = 37.681
    tempdata['LON'] = -121.775
    tempdata['YEAR'] = 2018
    tempdata['MONTH'] = 4
    tempdata['DAY'] = i
    tempdata['HOUR'] = [i for i in range(24)]
    mydata = mydata.append(tempdata)
    
Apr_winds = mydata
Apr_winds.to_csv("Apr_winds.csv", sep=',')
Apr_winds.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,9,0,37.681,-121.775,4,2018,51.19,0.0,47.59,0.87,...,0.0,0.0,NaN,1020.67,Clear,51.19,1523257200,9.86,100,3.06
1,9,1,37.681,-121.775,4,2018,51.12,0.0,47.09,0.86,...,0.0,0.0,NaN,1020.40,Clear,51.12,1523260800,9.86,164,1.61
2,9,2,37.681,-121.775,4,2018,49.90,0.0,47.28,0.91,...,0.0,0.0,NaN,1020.52,Clear,49.90,1523264400,9.86,62,1.41
3,9,3,37.681,-121.775,4,2018,49.23,0.0,46.83,0.91,...,0.0,0.0,NaN,1020.01,Clear,49.23,1523268000,9.86,86,1.84
4,9,4,37.681,-121.775,4,2018,48.86,0.0,46.46,0.91,...,0.0,0.0,NaN,1019.58,Clear,48.86,1523271600,9.86,144,2.22

In [20]:
Winds_week = pd.concat([Jan_winds, Feb_winds, Mar_winds, Apr_winds])
Winds_week.to_csv("Winds_week.csv", sep=',')
Winds_week.head()

,DAY,HOUR,LAT,LON,MONTH,YEAR,apparentTemperature,cloudCover,dewPoint,humidity,...,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,visibility,windBearing,windSpeed
0,17,0,37.681,-121.775,1,2018,52.57,0.02,51.01,0.94,...,0.0,0.0,NaN,1023.75,Clear,52.57,1516176000,6.61,79,0.42
1,17,1,37.681,-121.775,1,2018,51.65,0.02,50.40,0.95,...,0.0,0.0,NaN,1023.27,Clear,51.65,1516179600,5.52,334,2.55
2,17,2,37.681,-121.775,1,2018,51.51,0.02,50.21,0.95,...,0.0,0.0,NaN,1023.43,Clear,51.51,1516183200,5.40,20,2.37
3,17,3,37.681,-121.775,1,2018,49.80,0.05,49.18,0.98,...,0.0,0.0,NaN,1023.60,Clear,49.80,1516186800,2.82,68,2.24
4,17,4,37.681,-121.775,1,2018,50.08,0.31,49.47,0.98,...,0.0,0.0,NaN,1023.65,Partly Cloudy,50.08,1516190400,3.04,117,2.21